extends layout
block content
  head
    title Dichiarazione di Responsabilità - ColorGame
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/styles.css")
    style.
      body {
        background-color: rgb(13, 55, 127);
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      .container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
      }
      h1 {
        color: #007bff;
      }
      h3 {
        color: #343a40;
      }
      p {
        line-height: 1.6;
      }
  body
    .container
      h1 Registrazione fallita
      h3 Ti invitiamo a riprovare la fase di registrazione dei dati, se il problema dovesse persistere ti invitiamo a contattarci via email a colorgameparma@gmail.com