extends layout
block content
  head
    title Consenso per l'Uso di Immagini e Riprese Video
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/styles.css")
    style.
      body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        padding: 20px;
        background:#0D377F;
      }
      .container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
      }
      h1 {
        color: #007bff;
      }
      h2 {
        color: #343a40;
      }
      p {
        line-height: 1.6;
      }
  body
    .container
      h1 CONSENSO PER L'USO DI IMMAGINI E RIPRESE VIDEO

      p
        | Nome dell'evento: 
        strong Colorgame
      p
        | Data dell'evento: 
        strong 21 Settembre 2024
      p
        | Luogo dell'evento: 
        strong Cittadella di Parma
      p
        | Organizzatore: 
        strong Colorgame
      p
        | Contatto: 
        strong 
        a(href='mailto:colorgameparma@gmail.com') colorgameparma@gmail.com

      h2 1. Oggetto del Consenso

      p
        | Con la presente, il/la sottoscritto/a, 
        strong partecipante all'evento
        | , concede il proprio consenso alla ripresa, registrazione, pubblicazione e distribuzione di immagini e video che lo/la ritraggono durante l'evento 
        strong "Colorgame"
        | organizzato da 
        strong Colorgame.

      h2 2. Uso delle Immagini e Video

      p
        | Il/la sottoscritto/a autorizza l'Organizzatore a utilizzare le immagini e i video che lo/la ritraggono per scopi promozionali e di marketing, inclusi, ma non limitati a:
        
      ul
        li Pubblicazione sui siti web dell'Organizzatore
        li Condivisione sui profili social media dell'Organizzatore (Facebook, Instagram, Twitter, ecc.)
        li Inserimento in materiali pubblicitari, brochure, e documenti relativi a eventi futuri
        li Uso in video promozionali e presentazioni

      h2 3. Diritti d'Autore e Uso Commerciale

      p
        | Il/la sottoscritto/a riconosce che tutte le immagini e i video realizzati durante l'evento saranno di proprietà esclusiva dell'Organizzatore, e 
        strong rinuncia a qualsiasi pretesa o diritto d'autore su tali materiali
        | . Il/la sottoscritto/a comprende che le immagini e i video potrebbero essere utilizzati per scopi commerciali senza ulteriore compenso o notifica.

      h2 4. Durata del Consenso

      p
        | Il consenso si intende concesso a 
        strong tempo indeterminato
        | , salvo diversa comunicazione scritta da parte del/la sottoscritto/a. In caso di revoca del consenso, l'Organizzatore si impegna a cessare l'uso delle immagini e dei video nelle nuove pubblicazioni. Tuttavia, la revoca non avrà effetto retroattivo sulle pubblicazioni già distribuite.

      h2 5. Garanzie e Dichiarazioni

      p
        | Il/la sottoscritto/a dichiara di essere 
        strong maggiorenne
        | e di avere piena capacità legale per sottoscrivere il presente consenso. Se il/la sottoscritto/a è minorenne, il presente modulo deve essere firmato da un genitore o tutore legale.

      h2 6. Limitazione di Responsabilità

      p
        | Il/la sottoscritto/a 
        strong esonera l'Organizzatore
        | da qualsiasi responsabilità derivante dall'uso delle immagini e dei video per gli scopi sopra indicati, salvo per dolo o colpa grave dell'Organizzatore stesso.
