extends layout
block content
  head
    title Dichiarazione di Responsabilità - ColorGame
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/styles.css")
    style.
      body {
        background-color: rgb(13, 55, 127);
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      .container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
      }
      h1 {
        color: #007bff;
      }
      h2 {
        color: #343a40;
      }
      p {
        line-height: 1.6;
      }
  body
    .container
      h1 Dichiarazione di Responsabilità - ColorGame

      p
        | Informato/a del programma di attività svolto 
        strong (evento sportivo rivolto a tutte le fasce di età)
        | , il protagonista è il colore (in polvere, non nocivo per la salute, come da scheda tecnica allegata). Evento sportivo all’insegna della solidarietà: l’intero incasso ricavato dalle iscrizioni dei concorrenti alla gara sarà devoluto in beneficenza al neo reparto di rianimazione pediatrica dell’Ospedale di Parma.

      h2 DICHIARA E SOTTOSCRIVE

      h3 1. Regolamento e Comportamento

      p
        | Il/la sottoscritto/a dichiara di essere a conoscenza del 
        strong regolamento relativo all’evento 
        | e si impegna a non assumere, in nessun caso, comportamenti contrari alla legge e alle norme del regolamento che possano mettere in pericolo la propria o l’altrui incolumità.

      h3 2. Partecipazione Volontaria

      p
        | Il/la sottoscritto/a è 
        strong pienamente consapevole
        | che la propria partecipazione alla manifestazione è volontaria, come è strettamente volontaria e facoltativa ogni azione compiuta durante lo svolgimento delle attività.

      h3 3. Sollevamento di Responsabilità - Danni

      p
        | Il/la sottoscritto/a 
        strong solleva il Comune di Parma e ColorGame 
        | da qualsiasi responsabilità, diretta e indiretta, per eventuali danni che dovessero derivare a seguito dell’evento.

      h3 4. Responsabilità Civile e Penale

      p
        | Il/la sottoscritto/a 
        strong solleva il Comune di Parma e ColorGame 
        | da ogni responsabilità civile e penale, anche oggettiva, in conseguenza di infortuni cagionati a sé o a terzi e verificatisi durante l’intera durata dell’evento, o conseguenti all’utilizzo improprio delle infrastrutture e dei coloranti.

      h3 5. Furti e Danneggiamenti

      p
        | Il/la sottoscritto/a 
        strong solleva il Comune di Parma e ColorGame 
        | da ogni responsabilità legata a furti e/o danneggiamenti di qualsiasi oggetto depositato, non intendendosi tali beni né depositati né in custodia degli stessi.

      h3 6. Autorizzazione e Accettazione delle Condizioni

      p
        | La presente autorizzazione viene concessa in 
        strong piena libertà ed autonomia
        | , senza condizioni o riserve e a titolo completamente gratuito. Ai sensi e per gli effetti di cui agli 
        strong artt. 1341 e 1342 del Codice Civile
        | , il/la sottoscritto/a dichiara di aver attentamente esaminato tutte le clausole contenute nel programma e nella scheda tecnica della polvere colorata allegata, e di approvarne specificamente tutti i punti elencati.

      h3 7. Manleva del Comune di Parma e di ColorGame

      p
        | In conseguenza di quanto sopra, il/la sottoscritto/a 
        strong manleva con la presente dichiarazione
        | il Comune di Parma, in persona del suo legale rappresentante Sindaco p.t., quale proprietario del Parco della Cittadella, e ColorGame, con i suoi rappresentanti, dalle responsabilità civili e penali che in ogni modo dovessero sorgere in conseguenza dell’utilizzo non corretto dei colori e dei servizi connessi, nonché per qualsiasi eventuale danno subito dalla propria persona o arrecato a terzi durante lo svolgimento delle attività.

      h3 8. Autorizzazione al Trattamento dei Dati Personali

      p
        | Il/la sottoscritto/a, preso atto dell’informativa di cui all'art. 13 del 
        strong decreto legislativo 30 giugno 2003, n. 196
        | , autorizza il trattamento dei propri dati personali per le finalità connesse allo svolgimento dell’evento.
